oauth.google.clientid=??????_??_??????????_?_google
oauth.google.secret=??????_??????????_?_google
oauth.vk.clientid=??????_??_??????????_?_vk
oauth.vk.secret=??????_??????????_?_vk
oauth.yandex.clientid=??????_??_??????????_?_yandex
oauth.yandex.secret=??????_??????????_?_yandex
oauth.callbackurl=http://localhost:8080/mj/callback
service.email=???????? ???? ? ???????? ?????? ????? ?????????? ??????
service.recoveryurl=http://localhost:8080/mj/recovery