<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--<filter>-->
        <!--<filter-name>LocalFilter</filter-name>-->
        <!--<filter-class>ru.stankin.mj.http.LocalFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>LocalFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--<context-param>-->
        <!--<param-name>heartbeatInterval</param-name>-->
        <!--<param-value>10</param-value>-->
    <!--</context-param>-->

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>vaadinServlet</servlet-name>
        <servlet-class>
            com.vaadin.cdi.server.VaadinCDIServlet
        </servlet-class>

        <init-param>
            <param-name>UI</param-name>
            <param-value>ru.stankin.mj.view.MyVaadinUI</param-value>
        </init-param>

        <!-- If not using the default widget set-->
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.optible.vaadin.widgetset.VaadinWidgetset</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>vaadinServlet</servlet-name>
        <url-pattern>/vaadin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaadinServlet</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaadinServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/webapi/*</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>-->
    <!--<servlet-name>vaadinServlet</servlet-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/webapi/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

</web-app>